*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: orange;
}

::-webkit-scrollbar-thumb {
    background-color: #fafafa;
    border-radius: 20px;
    border: 3px solid orange;
}
body {
    font-family: Gilroy, sans-serif;
    background-color: #fafafa;
    scroll-behavior: smooth;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.containerDashboard {
    max-width: 870px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
